.information {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}

.info-title {
    font-size: 3rem;
    color: $header-color;
    font-weight: 500;
}

.info-subtitle {
    font-size: 2rem;
    color: $header-color;
    font-style: italic;
}
.info-img {
    width: 20rem;
    height: 20rem;
    margin: 2rem 0rem;
}
.info-link {
    margin-top: 2rem;
    color: $header-color;
}
.info-link:hover {
    color: $header-color;
 
}