
.cardlist {
    margin-top: 0rem;
    overflow: auto !important;
    height: $content-percentage;
    
}

.card {
    margin: 0 auto;
    width: 90% !important;
    margin-top: 1rem !important;

    
}

.prompt {
    color: $header-color;
    text-align: center;
    font-weight: 900;
}
@media (max-width: $mobilebreakpoint) {
  
    .cardlist {
        height: $content-percentage-mobile;
    }
}