.nav {
    margin: 0 0 0 0;
    padding: 1rem 0 1rem 0;
    background-color: darken($header-color,3%);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.nav-link:hover {
    color: rgba(238, 254, 217, 0.945);
}
.nav-link:visited {
    color: rgba(238, 254, 217, 0.945);
}
.nav-link {
    color: #8cf486f1 !important;

    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: $m-size;
}

.nav-link--active {
    font-weight: 900;
    color: #ffffff !important;
    text-decoration: none;
}
