//sizes
$m-size : 1.6rem;

$s-size : .75 * $m-size;

$l-size : 1.25 * $m-size;

$xl-size : 2.2 * $m-size;
//colors
$primarycolor : #d130fa;
$secondarycolor: #85099e;
$primarygrey : #490e4d;
$secondarygrey : #2b0220;
$mobilebreakpoint: 40rem;