//sizes
$m-size : 1.6rem;

$s-size : .75 * $m-size;

$l-size : 1.25 * $m-size;

$xl-size : 2.2 * $m-size;

//colors
$header-color: #278acd;
$secondary-color: #2377c1;
//$header-color: #36a200;
//$secondary-color: #22b804b6;

$header-percentage : 5%;
$nav-percentage: 5vh;
$content-percentage: 92vh;

$header-percentage-mobile: 5%;
$nav-percentage-mobile: 5%;
$content-percentage-mobile: 95vh;

$mobilebreakpoint: 40rem;

